{% extends "core/base.html" %}

{% block content %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos unde vel ipsa enim quo corrupti sint labore sit, numquam aliquam consequatur alias ipsam impedit repellat rerum? Laboriosam natus sequi suscipit?
Officiis, suscipit. Necessitatibus ex cumque delectus porro nobis aspernatur, consequatur voluptatum rerum tempore in? Obcaecati assumenda qui numquam amet. Magni mollitia amet architecto ipsum alias, beatae temporibus praesentium nesciunt itaque.
Deserunt incidunt quod odio quidem architecto magnam harum odit? Accusamus adipisci voluptas asperiores voluptatum veritatis, ea culpa iure deserunt, quod alias mollitia aspernatur non temporibus illum eum officiis recusandae iusto!</p>

{% endblock content %}